<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="test.editors.MultiPageEditorContributor"
            class="test.editors.MultiPageEditor"
            id="test.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="test">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="test"
            class="test.wizards.SampleNewWizard"
            id="test.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
